extends layout

block content
  video(playsinline='', autoplay='', muted='')
    source(src='assets/video.mp4', type='video/mp4')
    source(src='assets/video.webm', type='video/webm')
  section.outer
    .row.middle
      .col-sm-12.inner
        h1 Türkiye için Ortak Payda'da buluşma zamanı!
        p Artık yeter! Ülkemizde yaşayan neredeyse her vatandaş anladı ki, artık böyle devam edemeyecek Türkiye.
        .row
          .col-sm-6
            h3 Hayal edin!
            p Ülkemizde yaşananlara duyarsız kalamayanlar, fikirlerinizi ne olursa olsun özgürce paylaşabileceğiniz, paylaştığınız fikirlerinizle toplumsal çözüm bulma girişimine ortak olabileceğiniz bir platform hayal edin!

          .col-sm-6
            h3 Yol ayrımındayız!
            p Toplum olarak son noktaya geldik, böyle devam edemeyeceğini anlayan her vatandaşın bir söz hakkı var, huzurlu ve istikrarlı günlere ulaşmak için birlikte hareket ederek sorunlara herkesin üzerinde anlaşabileceği çözümler bulmak bizim elimizde...
            if !user
              a.btn.btn-success(href='/signup', role='button') Şimdi Katıl?
              a.btn.btn-success(href='/login', role='button') Giriş yap!